//whats Emmet?
answer: emmet is a tool for writing html(elements) faster and it helps ur code to be neater.
// what is an HTML elements
An Html element consist of a start tag ,a content in it and an end tag.

<h1>hello world </h1>
tagname.classname
<h1 class="classone"></h1>
tagname.classname{content}
<h2 class="classtwo">hello nation</h2>
tagname#idnameclassname
<h2 id="kingsley"></h2>
<h2 id="kingsley" class="aigbojie"></h2>
tagname#idname.classname
<p id="a" class="b"></p>
<p id="a" class="b">hello</p>

parent
child
or children
>
parent>child
<div>
    <p></p>
</div>
+ to create siblings

<div>
    <p>hhhh</p>
    <h1>hhhh</h1>
</div>

<div>
    <p></p>
    <h1></h1>
    <h2></h2>
    <h3></h3>
</div>

<form action="" method="get"></form>
<form action="" method="post"></form>

<p style="">hshshshsh</p>
grouping ()

<section>
    <div>
        <p></p>
        <h1></h1>
    </div>
</section>
<section>
    <div>
        <p>
            <h1></h1>
        </p>
    </div>
</section>
multiplying using *
<nav>
    <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</nav>

<nav>
    <ul>
        <li><a href="">item 01</a></li>
        <li><a href="">item 02</a></li>
    </ul>
</nav>

<nav>
    <ul>
        <li><a href="">item 04</a></li>
        <li><a href="">item 03</a></li>
        <li><a href="">item 02</a></li>
        <li><a href="">item 01</a></li>
    </ul>
</nav>


caret ^ 

<div class="nigeria">
    <p class="edostate"></p>
    <p class="delta"></p>
</div>
<footer class="ghana"></footer>

<div class="classone">
    <p></p>
    <h1></h1>
</div>
<h2 class="caret"></h2>

loremnumber
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header class="headings">
        <nav class="navigation">
            <ul>
                <li><a href="">items 01</a></li>
                <li><a href="">items 02</a></li>
                <li><a href="">items 03</a></li>
                <li><a href="">items 04</a></li>
                <li><a href="">items 05</a></li>
            </ul>
        </nav>
    </header>
    <section class="classone">
        <div>
            <p></p>
            <p></p>
            <p></p>
        </div>
        <footer></footer>
    </section>

    <div>

        <h1></h1>
        <h1></h1>
        <h1></h1>
        <h1></h1>
        <h1></h1>
        <h1></h1>
    </div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat ad culpa magnam maxime porro quasi mollitia voluptatum, facere tenetur cum itaque. Ess
        e eligendi obcaecati dolores inventore, quia sint nisi minima.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam fugit nihil iusto nobis doloribus consequuntur ea esse recusandae minus ab!</p>

    
</body>
</html>




