{% extends 'base.html' %} 


{%block head %}
<title>ContactsBank. | searches</title>

{% endblock%}
{% block body %}
    
    <nav class="navbar">
        <a href="/" style="text-decoration: none;color: black;"> <div class="brand-title">ContactsBank.</div></a>
         <a href="#" class="toggle-button">
             <span class="bar"></span>
             <span class="bar"></span>
             <span class="bar"></span>
         </a>
         <div class="nav-links">
             <ul>
                 <li><a href="/Contacts">Contacts</a></li>
                 <li><a href="/AddContacts">AddContacts</a></li>
                 <li><a href="/Users">Users</a></li>
                 <li><a href="/About">About</a></li>
             </ul>
         </div>
     </nav>
     <!--mode-->
     
     <div class="whats">
         <label  class="switch" >
             <input type="checkbox" class="clicked">
             <span class="slider"></span>
         </label>
       </div>
    <h1 style="text-align: center;">Your searched for...
       {% for user in users%}
       {{user.username}}
       {%endfor%} </h1>
    
    <div class="container">
        <div class="row">
            {% for user in  users%}

            <div class="col-sm-4" style="padding: 30px;">
                <div class="card" style="width: 18rem;">
              <img src="{{url_for('static', filename='chicks.jpg')}}" width="280px" alt="...">
                    <div class="card-body">
                      <p class="card-text">{{user.username}} 
                      {{user.surname}}</p>
                      <h5 class="card-title"><a href="https://wa.me/{{user.contact}}"><i class="fa fa-whatsapp"></i>{{user.contact}}</a></h5>
                      <a href="tel:{{user.contact}}"><button class="btn"><i class="fa fa-phone"></i></button></a>
                    </div>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item"><i class="fa fa-envelope"></i>{{user.email}}</li>
                     
                    </ul>
                   
                    <div style="text-align: center;padding: 30px;">
                      <a href="/passcode/{{user.id}}"><button class="success">contacts</button></a>
            
                       
                  </div>
                </div>

            </div>
            {%endfor%}
          </div>
       
      
        </div>


    
    
        </div>
    <!---footer-->
<div class="foot">

    <div class=" grid grid-3 container mt-3">
        <div>
            <h3 style="color:orangered;opacity: 0.6;">ContactsBank</h3>
            <p>Bank Your Contacts.</p>
        </div>
        <div>
          <h6 style="color: orangered;opacity: 0.6;font-size: 20px;margin-bottom: 10px;">Quick Links</h6>
  
          <nav>
  
            <ul>
                <li>hiii</li>
                <li>hdhdhhdh</li>
                <li>hsjhshshh</li>
                <li>jjdjdjd</li>
            </ul>
  
          </nav>
        </div>
        <div>
          <h6 style="color: orangered;opacity: 0.6;font-size: 20px;margin-bottom: 10px;">Social Media</h6>
            <ul>
                <li>heloo</li>
                <li>kdkdkdk</li>
                <li>ldlld</li>
                <li>kskdkkdk</li>
    
            </ul>
        </div>
    
        <div style="text-align: center;margin-left:80px;margin-top: 30px;">
            <p>Designed By KINGSLEY AIGOJIE &copy;2022</p>
         </div>
    
    </div>
    </div>
    

{% endblock %}
