{% extends 'base.html' %} 


{%block head %}
<title>ContactsBank | userprofile</title>


{% endblock%}
{% block body %}
<h4>Welcome to ContactsBank!  Save your contacts to the Cloud.</h4>
    <!---navbar--> 
    <nav class="navbar">
       <a href="/" style="text-decoration: none;color: black;"> <div class="brand-title">StackmyContacts.</div></a>
        <a href="#" class="toggle-button">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </a>
        <div class="nav-links">
            <ul>
                <li><a href="/Contacts">Contacts</a></li>
                <li><a href="/AddContacts">AddContacts</a></li>
                <li><a href="/Users">Users</a></li>
                <li><a href="/About">About</a></li>
            </ul>
        </div>
    </nav>
    <!--mode-->
    
    <div class="whats">
        <label  class="switch" >
            <input type="checkbox" class="clicked">
            <span class="slider"></span>
        </label>
      </div>









      <div class="container" style="padding: 160px;">
        <div class="grid">
            <div class="photo card py-4 a">
                <div class="images" style="text-align:center;position: relative;">
                 <img src="{{url_for('static', filename='chicks.jpg')}}" width="200px" height="200px" alt="..." style="border-radius: 50%;margin: auto;">
                    <a href="#"><button id="ta" style="position: absolute;top:150px;right: 60px;">change photo</button></a>
                 

                 <h2 style="margin: 10px;">username:{{user.username}}</h2>
                 <h2 style="margin: 10px;">whatsapp:{{user.contact}}</h2>

                 <h2>total_contacts({{length}})</h2>


                </div>
            </div>
            <div class="details card l " style="padding: 30px;width: 380px;height: 400px;">
                <h2 style="text-align: center;">MY_PROFILE</h2>
                <div style="margin-top: 35px;">
                    <h2 style="margin-top:10px ;">#id:{{user.id}}</h2>
                    <h2 style="margin-top: 20px;">email:{{user.email}}</h2>
                    
                    <h2 style="margin-top: 20px;">passcode:{{user.passcode}}</h2>             
                </div>
                <div style="text-align: center;margin-top: 40px;">
                    <a href="/viewcontacts/{{user.id}}" style="text-align: center;"><button id="ta">My_contacts</button></a>
                </div>
                
            </div>
        </div>
    </div>    









<!---footer-->
<div class="foot">

    <div class=" grid grid-3 container mt-3">
        <div>
            <h3 style="color:orangered;opacity: 0.6;">ContactsBank</h3>
            <p>Bank Your Contacts.</p>
        </div>
        <div>
          <h6 style="color: orangered;opacity: 0.6;font-size: 20px;margin-bottom: 10px;">Quick Links</h6>
  
          <nav>
  
            <ul>
                <li>hiii</li>
                <li>hdhdhhdh</li>
                <li>hsjhshshh</li>
                <li>jjdjdjd</li>
            </ul>
  
          </nav>
        </div>
        <div>
          <h6 style="color: orangered;opacity: 0.6;font-size: 20px;margin-bottom: 10px;">Social Media</h6>
            <ul>
                <li>heloo</li>
                <li>kdkdkdk</li>
                <li>ldlld</li>
                <li>kskdkkdk</li>
    
            </ul>
        </div>
    
        <div style="text-align: center;margin-left:80px;margin-top: 30px;">
            <p>Designed By Brains &copy;2022</p>
         </div>
    
    </div>
    </div>
 
{% endblock %}









    